body
{
background-color: #eee !important;
}

.draw {
	cursor:url(../img/icons/pencil.cur), auto;
}
.line {
	cursor:crosshair
}
.square {
	cursor:crosshair
}
.circle {
	cursor:crosshair
}
#printscreen_img {
	position: relative;
	border:1px solid white;
	margin:0% 2% 0% 2%;
}
#imageTemp {
	position:absolute;
	top:1px;
	left:1px;
	margin:0% 2% 0% 2%;
}
#fileName {
	width:80%;
}
#actionsEditor {
	margin:2% 0% 2% 2%;
}
#container {
	position: relative;
}
#options {
	margin-top: 10%;
}

#panelEditor {
	width: 10%;
}

#colorPickerFill{
	height: 30px;
	margin-top: -10px;
}

#colorPicker{
	height: 22px;
	margin-top: 3%;
}

#sizeSelect {
	width:70px;
}

#widthLabel {
	width: 72px;
	min-height: 20px;
	margin-top: 8px;
	margin-bottom: 1px;
	text-align:center;
}

#heightLabel {
	width: 72px;
	min-height: 20px;
	margin-top: 8px;
	margin-bottom: 1px;
	text-align:center;
}

#newWidthInput  {
	width:72px;
}

#newHeightInput  {
	width:72px;
}

#setResizeButton {
	margin-top: -10px;
}

#setResetsButton {
	margin-top: -10px;
}