.draw {
	cursor:url(../img/icons/pencil2.png),url(../img/icons/pencil.png),auto;
}
.line {
	cursor:crosshair
}
.square {
	cursor:crosshair
}
.circle {
	cursor:crosshair
}


#container { position: relative;}

#printscreen_img { border: 1px solid white; }

#imageTemp { position: absolute; top: 1px; left: 1px; }